<!DOCTYPE html>
<html>
<head>
   <style>
      .label {display:inline-block;width:150px;text-align: right;font-weight:bold;}
   </style>
</head>
<body>
   <div>
      <div><img src='http://digiservdelivery.lib.virginia.edu/lib_letterhead.jpg' width='640' height='64'></div>
      <p>Dear {{.User.FirstName}}, {{.User.LastName}},</p>
      <p>Thank you for submitting a request to UVa Library Digital Production Group. Below you will find a summary of
         your order.</p>
      <div>
         <h2>Order Summary</h2>
         <div>
            <h3>Customer Information</h3>
            <div>
               <label class="label">First Name:&nbsp;</label>
               <span>{{.User.FirstName}}</span>
            </div>
            <div>
               <label class="label">Last Name:&nbsp;</label>
               <span>{{.User.LastName}}</span>
            </div>
            <div>
               <label class="label">Email:&nbsp;</label>
               <span>{{.User.Email}}</span>
            </div>
            <div>
               <label class="label">Academic Status:&nbsp;</label>
               <span>{{.User.AcademicStatus}}</span>
            </div>
         </div>
         {{range .Addresses}}
         <div>
            {{if eq .Type "primary"}}
            <h3>Primary Address</h3>
            {{else}}
            <h3>Billing Address</h3>
            {{end}}
            <div>
               <label class="label">Address 1:&nbsp;</label>
               <span>{{.Address1}}</span>
            </div>
            <div>
               <label class="label">Address 2:&nbsp;</label>
               <span>{{.Address2}}</span>
            </div>
            <div>
               <label class="label">City:&nbsp;</label>
               <span>{{.City}}</span>
            </div>
            <div>
               <label class="label">State:&nbsp;</label>
               <span>{{.State}}</span>
            </div>
            <div>
               <label class="label">Zip:&nbsp;</label>
               <span>{{.Zip}}</span>
            </div>
            <div>
               <label class="label">Country:&nbsp;</label>
               <span>{{.Country}}</span>
            </div>
            <div>
               <label class="label">Phone:&nbsp;</label>
               <span>{{.Phone}}</span>
            </div>
         </div>
         {{end}}
         <div>
            <h3>Request Information</h3>
            <div>
               <label class="label">Due Date:&nbsp;</label>
               <span>{{dateFmt .Request.DueDate}}</span>
            </div>
            <div>
               <label class="label">Intended Use:&nbsp;</label>
               <span>{{.Request.IntendedUse}}</span>
            </div>
            <div>
               <label class="label">Format:&nbsp;</label>
               <span>{{.Request.Format}}</span>
            </div>
            {{if ne .Request.Resolution ""}}
            <div>
               <label class="label">Resolution:&nbsp;</label>
               <span>{{.Request.Resolution}}</span>
            </div>
            {{end}}
            <div>
               <label class="label">Instructions:&nbsp;</label>
               <span>{{.Request.Instructions}}</span>
            </div>
         </div>
         <div>
            <h3>Item Information</h3>
            {{range $index, $item := .Items}}
            <div>
               <h4>Item #{{inc $index}}</h4>
               <div>
                  <label class="label">Title:&nbsp;</label>
                  <span>{{$item.Title}}</span>
               </div>
               <div>
                  <label class="label">Pages:&nbsp;</label>
                  <span>{{$item.Pages}}</span>
               </div>
               {{if ne $item.CallNumber ""}}
               <div>
                  <label class="label">Call Number:&nbsp;</label>
                  <span>{{$item.CallNumber}}</span>
               </div>
               {{end}}
               {{if ne $item.Author ""}}
               <div>
                  <label class="label">Author:&nbsp;</label>
                  <span>{{$item.Author}}</span>
               </div>
               {{end}}
               {{if ne $item.Published ""}}
               <div>
                  <label class="label">Year Published:&nbsp;</label>
                  <span>{{$item.Published}}</span>
               </div>
               {{end}}
               {{if ne $item.Location ""}}
               <div>
                  <label class="label">Location:&nbsp;</label>
                  <span>{{$item.Location}}</span>
               </div>
               {{end}}
               {{if ne $item.Link ""}}
               <div>
                  <label class="label">Web Link:&nbsp;</label>
                  <span>{{$item.Link}}</span>
               </div>
               {{end}}
               {{if ne $item.Description ""}}
               <div>
                  <label class="label">Additional Info:&nbsp;</label>
                  <span>{{$item.Description}}</span>
               </div>
               {{end}}
            </div>
            {{end}}
         </div>
      </div>
      <div>
         <h2>Guideline Reminder</h2>
         <dl>
            <dt>Processing Time</dt>
            <dd>Orders generally require at least 20 days to process. Rush requests will be honored if possible.</dd>
            <dt>Fees</dt>
            <dd><em><strong>(Non-UVA only)</strong></em> $50 for the first hour, $25 each additional hour.
               Special Collections staff will send a fee estimate that must be paid before any digitization work is
               done.</dd>
            <dt>Deliverables</dt>
            <dd>300dpi JPEG or highest resolution TIFF, depending on your intended use.</dd>
            <dt>Delivery</dt>
            <dd>All requests are delivered as online downloads. Special delivery needs will be honored at the Digital
               Production Group’s discretion.</dd>
            <dt>Copyright</dt>
            <dd>
               All copies are provided for private study, scholarship, or research pursuant to 17 USC § 107 and/or 108.
               Copyright and other legal restrictions may apply to further uses, and the Library does not grant
               permissions
               or give legal advice regarding reuse of items in its collections.
               Please see our <a href='https://small.library.virginia.edu/services/publishing/'>Permissions and
                  Publishing</a> page for more information.
            </dd>
            <dt>Further Questions?</dt>
            <dd>If you have questions about your request, contact <a href='mailto:digitalservices@virginia.edu'></a> and
               include the following request number: <strong>{{.OrderID}}</strong></dd>
         </dl>
      </div>
   </div>

   <div>
      <address>
         <strong>University of Virginia Library</strong><br />
         Digital Production Group<br />
         <a href='mailto:digitalservices@virginia.edu'>digitalservices@virginia.edu</a>
      </address>

      <p>Learn more about us at <a href='http://dcs.library.virginia.edu/'>http://dcs.library.virginia.edu</a></p>
   </div>
</body>

</html>